body
{
  padding: 0;
  margin: 0;
}

a:link { color:#049; text-decoration:none }
a:visited { color:#049; text-decoration:none }
a:link:hover { color:#CF4D23; text-decoration:underline }
a:visited:hover { color:#CF4D23; text-decoration:underline }
a:link:active { color:#58e; text-decoration:none }

/**************************************/

.menu {
  background-color: #fed;
  white-space: nowrap;

  padding-right: 20px;
}

.heading {
  padding: 0px;
  margin: 0px;
  float: left;
/*  background-color: #eee;*/
}

.search {
  padding: 5px;
  margin: 0px;
  float: right;
}

.errors {
  padding: 2px;
  margin: 0px;
  background-color: #f50;
}

.message {
  padding: 2px;
  margin: 0px;
  background-color: #4d4;
}

.contents {
  padding: 10px;
  margin: 0px;
  background-color: #fff;
  clear: both;
}
